@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var username = Context.Session.GetString("Username");
    var fullName = Context.Session.GetString("FullName");
    var userRole = Context.Session.GetString("UserRole");
    var isLoggedIn = !string.IsNullOrEmpty(username);
}
@if (isLoggedIn)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i> 
            <strong>@(fullName ?? username)</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item text-danger" href="/Account/Logout">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="/Account/Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-success ms-2" href="/Account/Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </li>
}