@page
@using projectPart1.Models
@using System.Text.Json
@model ExhibitionsModel
@{
    ViewData["Title"] = "Exhibitions";
    var options = new JsonSerializerOptions 
    { 
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase 
    };
}

<div class="text-center mb-4">
    <h1>Art Exhibitions</h1>
    <p>Explore Art Exhibitions</p>
</div>

<div class="mb-3">
    <a asp-page="/AddExhibition" class="btn btn-success">Add Exhibition</a>
</div>

<div id="exhibitions-react-root" data-exhibitions='@JsonSerializer.Serialize(Model.Exhibitions, options)'></div>

@section Scripts {
    <script src="~/js/exhibitions-react.js?v=@DateTime.Now.Ticks"></script>
}